################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/movieRental/skeleton/App.config
/movieRental/skeleton/App.config
